algorithm="genrsa"
key_bits_length="4096"
days_till_expire=18250

root_common_name="Pybytes CA Cert"
root_password="password"
root_ca_dir="./certificates/development"
root_ca_prefix="development.pycom.root.ca"
openssl_root_config_file="./configs/development.root.cnf"

intermediate_common_name="Pybytes Intermediate CA Cert"
intermediate_password="password"
intermediate_ca_dir="./certificates/development"
intermediate_ca_prefix="development.pycom.intermediate"
openssl_intermediate_config_file="./configs/development.intermediate.cnf"

ca_chain_prefix="development.pycom.chain.ca"
